.app {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.prefecture-checkbox {
  display: inline-block;
}

.api-key-input-text {
  width: 300px;
  margin-right: 3px;
}

@media screen and (max-width: 768px) {
  /* スマートフォン向け */
  /* .app {
    background-color: lightgrey;
  } */
}
